### DataFrame의 인덱스 다루기 - 4
- 인덱스 정렬하기
- 기본 : 오름차순 정렬
- 메서드 : sort_index()

In [1]:
import pandas as pd

In [3]:
data = {'A':[98, 78, 100, 52]}

In [4]:
data_df = pd.DataFrame(data, index=[9, 12, 1, 3])
data_df

      A
9    98
12   78
1   100
3    52

In [5]:
# 행 인덱스 정렬
# 기본 오름차순 정렬, 작은 인덱스에서 큰 인덱스
data_df.sort_index()

      A
1   100
3    52
9    98
12   78

In [6]:
# 내림차순으로 정렬, 큰 인덱스에서 작은 인덱스
data_df.sort_index(ascending=False)

      A
12   78
9    98
3    52
1   100

In [7]:
# 행 인덱스를 변경 후 정렬
# 현재 [12, 9, 3, 1] ==> ['A', 'b', 'C', 'd']
data_df.index = ['A', 'b', 'C', 'd']

In [8]:
data_df

     A
A   98
b   78
C  100
d   52

In [9]:
data_df.sort_index()

     A
A   98
C  100
b   78
d   52

In [11]:
# 정렬
data_df.sort_index(key=lambda x: x.str.lower()) # Series에서 str을 못 사용하니까 str을 넣어줌.

     A
A   98
b   78
C  100
d   52