### DataFrame 연산 - 1
- 일대일대응으로 인덱스가 동일한 원소끼리 연산 수행
- DataFrame과 숫자 데이터 연산 수행

In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {'A':[98, 78, 100, 52],
        'B':[90, 70, 10, 50]}

In [6]:
df1 = pd.DataFrame(data)
df1

     A   B
0   98  90
1   78  70
2  100  10
3   52  50

In [7]:
# 연산 수행
# 산술 연산
df1 * 3

     A    B
0  294  270
1  234  210
2  300   30
3  156  150

In [9]:
# 비교 연산
df1 <= 10

       A      B
0  False  False
1  False  False
2  False   True
3  False  False