### DataFrane의 인덱스 다루기 - 1
- 인덱스 종류 : 행 인덱스, 열 인데스
- 특정 열을 행 인덱스 설정하는 방법
- 메서드 : df.set_index(열 인덱스, inplace = False)

In [1]:
import pandas as pd

In [2]:
jumsu = {'name':['마징가', '태권V', '원더우먼'],
         'kor':[89, 90, 90],
         'eng':[10, 30, 90],
         'math':[30, 60, 90]}

In [9]:
jumsu_df = pd.DataFrame(jumsu)

In [10]:
jumsu_df

   name  kor  eng  math
0   마징가   89   10    30
1   태권V   90   30    60
2  원더우먼   90   90    90

In [12]:
# ['name'] 열을 행 인덱스로 사용하고 싶음
df2 = jumsu_df.set_index('name')

In [13]:
df2

      kor  eng  math
name
마징가    89   10    30
태권V    90   30    60
원더우먼   90   90    90

In [14]:
# df2 데이터프레임의 행 인덱스와 열 인덱스 확인
print(df2.index, df2.columns, sep='\n')

Index(['마징가', '태권V', '원더우먼'], dtype='object', name='name')
Index(['kor', 'eng', 'math'], dtype='object')

In [15]:
# 데이터 추출
# - 마징가의 성적을 추출하고 싶음
df2

      kor  eng  math
name
마징가    89   10    30
태권V    90   30    60
원더우먼   90   90    90

In [16]:
df2.loc['마징가']   # 행추출==> 변수명.(i)loc[행 인덱스]

kor     89
eng     10
math    30
Name: 마징가, dtype: int64

In [18]:
df2.iloc[0]

kor     89
eng     10
math    30
Name: 마징가, dtype: int64

In [19]:
# - 마징가, 원더우먼의 성적 추출
df2.loc[['마징가', '원더우먼']]

      kor  eng  math
name
마징가    89   10    30
원더우먼   90   90    90

In [23]:
df2.iloc[0::2]

      kor  eng  math
name
마징가    89   10    30
원더우먼   90   90    90

In [25]:
# 영어 성적 컬럼을 행 인덱스로 설정
df3 = jumsu_df.set_index('eng')

In [26]:
df3

     name  kor  math
eng
10    마징가   89    30
30    태권V   90    60
90   원더우먼   90    90

In [27]:
# 이름과 영어 열을 행인덱스로
df4 = jumsu_df.set_index(['name', 'eng'])

In [28]:
df4 # 멀티 인덱스

          kor  math
name eng
마징가  10    89    30
태권V  30    90    60
원더우먼 90    90    90

In [29]:
print(df4.index)

MultiIndex([( '마징가', 10),
            ( '태권V', 30),
            ('원더우먼', 90)],
           names=['name', 'eng'])

In [34]:
# 멀티 인덱스에서 행 추출
df4.loc[('마징가', 10)] # [[]] 오류난다...

kor     89
math    30
Name: (마징가, 10), dtype: int64