### 데이터 활용 방법 - 전치
- 행과 열을 서로 바꾸는 것
- 방법
    - 메서드 : 변수명.transpose()
    - 속성 : 변수명.T

In [1]:
import pandas as pd

In [2]:
file_name = 'data.csv'

In [3]:
data = pd.read_csv(file_name)

In [4]:
data

   no  name  age gnader
0   1  Hong   10      M
1   2  Park   13      F
2   3   Kim   12      M
3   4   Lee   16      F
4   5   Han   15      M

In [6]:
# DF 형태 변경 : 행 ==> 열, 열 ==> 행
print("변경전", data.index, data.columns, sep='\n')
data = data.T
print("변경후", data.index, data.columns, sep='\n')

변경전
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gnader'], dtype='object')
변경후
Index(['no', 'name', 'age', 'gnader'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

In [7]:
data

           0     1    2    3    4
no         1     2    3    4    5
name    Hong  Park  Kim  Lee  Han
age       10    13   12   16   15
gnader     M     F    M    F    M

In [8]:
# 메서드 사용
data = data.transpose()
print("변경후", data.index, data.columns, sep='\n')

변경후
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gnader'], dtype='object')

In [9]:
data

  no  name age gnader
0  1  Hong  10      M
1  2  Park  13      F
2  3   Kim  12      M
3  4   Lee  16      F
4  5   Han  15      M