### Series 연산 - 3
- 원소값이 비어 있는 경우
- 인덱스가 서로 다른 Series의 경우

In [3]:
import pandas as pd
import math
import numpy as np

In [6]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 ==> pandas에는 없음
# math와  np패키지 사용
math.nan, np.nan # np.NaN 없어짐.

(nan, nan)

In [7]:
bibibig = [13, 600, np.nan,1500]
merona = [32, 700, 1200, 1500]

In [20]:
sr1 = pd.Series(bibibig)
sr2 = pd.Series(merona)

In [21]:
print(sr1, sr2, sep='\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1200
3    1500
dtype: int64

In [22]:
# 연산 수행 : Series + 숫자
# 산술연산
sr1 + 5 # 없는것은 연산 안함

0      18.0
1     605.0
2       NaN
3    1505.0
dtype: float64

In [23]:
# 비교 연산
sr1 > 5

0     True
1     True
2    False
3     True
dtype: bool

In [24]:
# 연산 수행 : Series와 Series
# 산술 연산
sr1 * sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [25]:
# 비교 연산
sr1 == sr2

0    False
1    False
2    False
3     True
dtype: bool

In [26]:
# 인덱스가 다른 시리즈끼리 연산
# sr3 새로 생성, index 변경
sr3 = sr2.rename(index={1:2, 2:3, 3:4})

In [27]:
sr3

0      32
2     700
3    1200
4    1500
dtype: int64

In [28]:
# 산술 연산
sr2 + sr3   # 인덱스 기준으로 활돌

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [31]:
# 비교연산자
# ar1< sr3  # 에러가 발생

In [34]:
sr3 = sr3.reset_index(drop=True)

In [35]:
sr3

0      32
1     700
2    1200
3    1500
dtype: int64

In [36]:
sr2 > sr3

0    False
1    False
2    False
3    False
dtype: bool

In [38]:
# NaN에 대한 연산 수행 해결을 위한 메서드 제공
# fill_valve = 값을 지정
sr1.add(sr2, fill_value=0)  # 어떻게든 계산을 하겠다...

0      45.0
1    1300.0
2    1200.0
3    3000.0
dtype: float64

In [41]:
# 인덱스가 다른 Serues 연산에서 메서드 사용

sr3 = sr2.rename(index={1:2, 2:3, 3:4})
sr2.add(sr3, fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64