### Series & DataFrame 연산

In [1]:
import pandas as pd

In [2]:
file_name = 'data.1csv'

In [3]:
data = pd.read_csv(file_name, header=None)

In [4]:
data

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [6]:
# 연산 실습
# 0번 컬럼과 2번 컬럼 덧셈
result = data[0] + data[2]

In [10]:
# 0~2 번 컬럼 까지 덧셈 수행
total = data[0] + data[1] + data[2]

In [11]:
data[3] = total

In [14]:
data.rename(columns={3:'total'}, inplace=True)
data.rename(index={'total':3}, inplace=True)

In [15]:
data

    0   1   2  total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [18]:
# 행 추가 => 데이터는 각 칼럼을 모두 더한 값
total = data.iloc[0] + data.iloc[1] + data.iloc[2] + data.iloc[3] + data.iloc[4]
total

0        261
1        250
2        239
total    750
dtype: int64

In [19]:
data.loc[5] = total
data

     0    1    2  total
0   10   20   30     60
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
4    5    5    5     15
5  261  250  239    750

In [24]:
# 연산수행 메서드
sr0 = data[0]
print(sr0); print()
print("합계 : ", sr0.sum())
print("최댓값 : ", sr0.max())
print("최솟값 : ", sr0.min())
print("평균 : ", sr0.mean())

0     10
1     90
2     66
3     90
4      5
5    261
Name: 0, dtype: int64

합계 :  522
최댓값 :  261
최솟값 :  5
평균 :  87.0

In [27]:
# DdtaFrame 연산 수행 메서드
# 기본은 열 단위로 게산
print("합계 : ", data.sum(),sep='\n'); print()
print("최댓값 : ", data.max(), sep='\n'); print()
print("최솟값 : ", data.min(), sep='\n'); print()
print("평균 : ", data.mean(), sep='\n')

합계 :
0         522
1         500
2         478
total    1500
dtype: int64

최댓값 :
0        261
1        250
2        239
total    750
dtype: int64

최솟값 :
0         5
1         5
2         5
total    15
dtype: int64

평균 :
0         87.000000
1         83.333333
2         79.666667
total    250.000000
dtype: float64

In [30]:
# 행단위 계산, 각 컬럼 데이터를 모아서 계산
print("합계 : ", data.sum(axis=1),sep='\n'); print()
print("최댓값 : ", data.max(axis=1), sep='\n')

합계 :
0     120
1     480
2     330
3     540
4      30
5    1500
dtype: int64

최댓값 :
0     60
1    240
2    165
3    270
4     15
5    750
dtype: int64

In [31]:
print("최솟값 : ", data.min(axis=1), sep='\n'); print()
print("평균 : ", data.mean(axis=1), sep='\n')

최솟값 :
0     10
1     70
2     44
3     90
4      5
5    239
dtype: int64

평균 :
0     30.0
1    120.0
2     82.5
3    135.0
4      7.5
5    375.0
dtype: float64

### 연산과 데이터 추출
- 연산결과와 데이터 추출 함께 진행

In [36]:
# total이 100 이상인 데이터만 추출
# 비교 연산 결과 ==> True/False : Bollean index
bool_idx = data.total > 100

In [37]:
# Boolean index wmr, 인덱스로 특정 데이터 추출에 사용 가능
# data[컬럼인덱스], data.iloc[행인덱스], data.loc[행인덱스]
data[bool_idx]

     0    1    2  total
1   90   80   70    240
2   66   55   44    165
3   90   90   90    270
5  261  250  239    750