### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [1]:
import pandas as pd
import df_util as util

In [2]:
file_path_1 = '../data/test_data.csv'
file_path_2 = '../data/test_data2.csv'

In [3]:
df1 = pd.read_csv(file_path_1)
df2 = pd.read_csv(file_path_2)

In [4]:
# 데이타 확인 => 기본정보
# df1.info()
# print(f"[index] : {df1.inex}")
# print(f"[columns] : {df1.columns}")

# df2.info()
# print(f"[index] : {df2.index}")
# print(f"[columns] : {df2.columns}")

util.checkDataFrame(df1, 'df1')
print()
util.checkDataFrame(df2, 'df2')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
[index] : RangeIndex(start=0, stop=10, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2


[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes
[index] : RangeIndex(start=0, stop=5, step=1)
[columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

In [5]:
# 행 인덱스 설정
# df1의 첫번째 컬럼을 행 인덱스로 설정 => set_index([컬럼1, 컬럼2])
df1_1 = df1.set_index('index')
df1_1.index.name = None # 속성이라서 없앨수 있음.
df1_1.index

Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')

In [6]:
# 'C'행 데이터 추출
df1_1.loc['C']

   col1  col2  col3
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [11]:
df1_2 = df1.set_index(['index', 'col2'])
# df1_2.index.names = [None, None]
df1_2.index

MultiIndex([('A', 6),
            ('C', 4),
            ('C', 2),
            ('A', 8),
            ('B', 0),
            ('B', 2),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 1)],
           names=['index', 'col2'])

In [12]:
# 멀티 인덱스의 속성들 확인
m_idx = df1_2.index
print(f'nlevels : {m_idx.nlevels}')
print(f"levels : {m_idx.levels}")
print(f"names : {m_idx.names}")

# 멀티인덱스의 이름을 바꾸는 방법
# m_idx.names = [None, None]
# print(m_idx.names)
# m_idx.set_names('a', level=0)

nlevels : 2
levels : [['A', 'B', 'C'], [0, 1, 2, 3, 4, 5, 6, 8]]
names : ['index', 'col2']

In [13]:
# 멀티인덱스에서 행추가
# - 인덱스에 행 추가 => 변수명.(i)loc[행인덱스] = 값
df1_2.loc[('D', 9), :] = [9, 9]     # :을 안적으면 난리남.

In [14]:
df1_2

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0

In [15]:
sr1 = pd.Series({'col1':10, 'col3':10})

sr1

col1    10
col3    10
dtype: int64

In [16]:
df1_2.loc[('F', 9), :] = sr1    # 리스트 형식으로 넣지 않으면 에러 발생
                                # 컬럼명 때문에 발생하는 에러, 중복때문에 [[]]의 형태로 저장하고 있었기 때문에

In [17]:
df1_2

            col1  col3
index col2
A     6      8.0   5.0
C     4      8.0   3.0
      2      8.0   0.0
A     8      1.0   7.0
B     0      2.0   7.0
      2      4.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     1      3.0   4.0
D     9      9.0   9.0
F     9     10.0  10.0