### 데이터 표준화
- 데이터의 형태나 단위를 맞춰줌
- 기본적인 활용에 이용

In [1]:
import pandas as pd

In [2]:
file_path = '../data/auto_mpg.csv'

In [3]:
mpg_df = pd.read_csv(file_path)

In [4]:
# 데이터 확인
# - 기본 정보 확인
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [5]:
# - 컬럼과 실제 데이터 타입 확인
print(mpg_df.head(2), mpg_df.tail(2), sep='\n\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320

      mpg  cylinders  displacement horsepower  weight  acceleration  \
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin     car name
396          82       1  ford ranger
397          82       1   chevy s-10

In [6]:
# 데이터 전처리
# - 결측치
mpg_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [7]:
# 중복 체크
mpg_df.duplicated().sum()

np.int64(0)

In [10]:
# - 단위 변환 표준화  mpg ==> kpl
mpg_df['kpl'] = mpg_df['mpg'] * 0.425144

mpg_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.652592
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.377160
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.652592
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.802304
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.227448
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,11.478888
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.706336
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,13.604608
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,11.904032
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.179464

In [16]:
# - 자료형 변환 표준화
# - horsepower object ==> int
# mpg_df['horsepower'].astype('int64')
mpg_df['horsepower'].value_counts()['?']

np.int64(6)

In [18]:
mpg_df[mpg_df['horsepower'] == '?'].index

Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [19]:
# 원소 값을 변경해주는 메서드 :replace()
import numpy as np

mpg_df['horsepower'].replace('?',np.nan, inplace=True)

In [21]:
mpg_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpl             0
dtype: int64

In [25]:
mpg_df2 = mpg_df.dropna().copy()    # 완전 복사는 아니지만 껍데기 복사함

In [26]:
mpg_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 33.7+ KB

In [27]:
mpg_df2['horsepower'] = mpg_df2['horsepower'].astype('int64')

In [28]:
mpg_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 33.7+ KB

In [30]:
mpg_df2.describe()  # 연속형으로 계산하면 안되는 친구들도 값을 구해버림

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,kpl
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531,9.967892
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518,3.318252
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,3.826296
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000,7.227448
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000,9.672026
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000,12.329176
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,19.811710

In [31]:
# - 컬럼별 데이터의 특성 확인 후 데이터의 자료형 변환 표준화
# cylinders, orign, model year ==> 범주형 데이터
mpg_df2['cylinders'] = mpg_df2['cylinders'].astype('category')
mpg_df2['origin'] = mpg_df2['origin'].astype('category')
mpg_df2['model year'] = mpg_df2['model year'].astype('category')

In [32]:
mpg_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    category
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(3), float64(4), int64(2), object(1)
memory usage: 26.6+ KB

In [33]:
mpg_df2.describe()  # 의미를 가진 데이터들이 빠졌음. 아닌듯.. 뭔가 뭔가

,mpg,displacement,horsepower,weight,acceleration,kpl
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,194.411990,104.469388,2977.584184,15.541327,9.967892
std,7.805007,104.644004,38.491160,849.402560,2.758864,3.318252
min,9.000000,68.000000,46.000000,1613.000000,8.000000,3.826296
25%,17.000000,105.000000,75.000000,2225.250000,13.775000,7.227448
50%,22.750000,151.000000,93.500000,2803.500000,15.500000,9.672026
75%,29.000000,275.750000,126.000000,3614.750000,17.025000,12.329176
max,46.600000,455.000000,230.000000,5140.000000,24.800000,19.811710

In [40]:
# 컬럼별 데이터를 특성 확인후 변경
# - horsepower ==> 저출력, 일반출력, 고출력 ==> 범주형
mpg_df2['hp_cut'] = pd.cut(mpg_df2['horsepower'], bins=3, labels=['저출력', '일반출력', '고출력'])

In [42]:
mpg_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    category
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
 10  hp_cut        392 non-null    category
dtypes: category(4), float64(4), int64(2), object(1)
memory usage: 27.1+ KB

In [44]:
mpg_df2.corr(numeric_only=True)

,mpg,displacement,horsepower,weight,acceleration,kpl
mpg,1.000000,-0.805127,-0.778427,-0.832244,0.423329,1.000000
displacement,-0.805127,1.000000,0.897257,0.932994,-0.543800,-0.805127
horsepower,-0.778427,0.897257,1.000000,0.864538,-0.689196,-0.778427
weight,-0.832244,0.932994,0.864538,1.000000,-0.416839,-0.832244
acceleration,0.423329,-0.543800,-0.689196,-0.416839,1.000000,0.423329
kpl,1.000000,-0.805127,-0.778427,-0.832244,0.423329,1.000000

- 문자열 데이터를 분리시켜주는 기능 => 컬럼 분리
    - 조건, 데이터가 문자열이어야 가능함!!!!
    - 형식 : Series.str.메서드()

In [49]:
names_sr = mpg_df2['car name'].str.split()
names_sr.head()

0    [chevrolet, chevelle, malibu]
1            [buick, skylark, 320]
2            [plymouth, satellite]
3                [amc, rebel, sst]
4                   [ford, torino]
Name: car name, dtype: object

In [50]:
names_sr.get(0)

['chevrolet', 'chevelle', 'malibu']

In [52]:
names = mpg_df2['car name'].str.upper()
names.head()

0    CHEVROLET CHEVELLE MALIBU
1            BUICK SKYLARK 320
2           PLYMOUTH SATELLITE
3                AMC REBEL SST
4                  FORD TORINO
Name: car name, dtype: object

In [53]:
# 나누어진 문자열을 하나씩 컬럼으로 분리

names_col = mpg_df2['car name'].str.split(expand=True)

In [54]:
names_col.head()

           0          1       2     3     4     5
0  chevrolet   chevelle  malibu  None  None  None
1      buick    skylark     320  None  None  None
2   plymouth  satellite    None  None  None  None
3        amc      rebel     sst  None  None  None
4       ford     torino    None  None  None  None

In [57]:
names_col = mpg_df2['car name'].str.split(expand=True, n=2)

In [58]:
names_col.head()

           0          1       2
0  chevrolet   chevelle  malibu
1      buick    skylark     320
2   plymouth  satellite    None
3        amc      rebel     sst
4       ford     torino    None

In [59]:
names_col.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    object
 1   1       390 non-null    object
 2   2       194 non-null    object
dtypes: object(3)
memory usage: 20.4+ KB

In [62]:
names_col.columns = ['frist_name', 'moddle_name', 'last_name']

- DataFrame 연결하기
    - 함수 : panda.concat()

In [64]:
mpg_df3 = pd.concat([mpg_df2, names_col], axis=1)

In [65]:
mpg_df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    category
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
 10  hp_cut        392 non-null    category
 11  frist_name    392 non-null    object
 12  moddle_name   390 non-null    object
 13  last_name     194 non-null    object
dtypes: category(4), float64(4), int64(2), object(4)
memory usage: 44.4+ KB

In [67]:
mpg_df3 = mpg_df3.reset_index(drop=1)

In [71]:
mpg_df4 = pd.concat([mpg_df2, names_col], ignore_index=True)

In [72]:
mpg_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    category
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
 10  hp_cut        392 non-null    category
 11  frist_name    392 non-null    object
 12  moddle_name   390 non-null    object
 13  last_name     194 non-null    object
dtypes: category(4), float64(6), object(4)
memory usage: 65.6+ KB

In [73]:
mpg_df4.head(2), mpg_df4.tail(2)

(    mpg cylinders  displacement  horsepower  weight  acceleration model year  \
 0  18.0         8         307.0       130.0  3504.0          12.0         70
 1  15.0         8         350.0       165.0  3693.0          11.5         70

   origin                   car name       kpl hp_cut frist_name moddle_name  \
 0      1  chevrolet chevelle malibu  7.652592   일반출력        NaN         NaN
 1      1          buick skylark 320  6.377160   일반출력        NaN         NaN

   last_name
 0       NaN
 1       NaN  ,
      mpg cylinders  displacement  horsepower  weight  acceleration model year  \
 782  NaN       NaN           NaN         NaN     NaN           NaN        NaN
 783  NaN       NaN           NaN         NaN     NaN           NaN        NaN

     origin car name  kpl hp_cut frist_name moddle_name last_name
 782    NaN      NaN  NaN    NaN       ford      ranger      None
 783    NaN      NaN  NaN    NaN      chevy        s-10      None  )

In [74]:
mpg_df3.tail() # 드랍 안하려면 합칠때 ignore_index= True

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl,hp_cut,frist_name,moddle_name,last_name
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,11.478888,저출력,ford,mustang,gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.706336,저출력,vw,pickup,None
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,13.604608,저출력,dodge,rampage,None
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,11.904032,저출력,ford,ranger,None
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.179464,저출력,chevy,s-10,None