### 중복데이터 처리
- 중복 데이터 검사 후 처리 ==> 삭제
- [주의] 중복 데이터 모두를 삭제하는 것은 아님!!
    - 데이터의 특성을 확인 후 결정해야 함

In [35]:
import pandas as pd

In [36]:
file_path = './data.csv'

data_df = pd.read_csv(file_path)

In [37]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      6 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      float64
 3   gnader  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes

In [38]:
data_df.head(2)

   no  name   age gnader
0   1  Hong  10.0      M
1   2   NaN  13.0      F

In [39]:
data_df.tail(2)

   no name   age gnader
4   5  Han   NaN      M
5   3  Kim  12.0      M

In [40]:
# 결측치 처리
data_df.fillna({'age':data_df['age'].mean(numeric_only=True)}, inplace=True)
data_df.ffill(inplace=True)

In [41]:
# 중복데이터 검사 및 처리
# - keep 매개변수 : 어느 것을 중복 데이터로 취급하지 않을지 설정 (기본:first)
data_df.duplicated().sum()

np.int64(1)

In [42]:
# - 중복 데이터 처리
data_df.drop_duplicates()

   no  name   age gnader
0   1  Hong  10.0      M
1   2  Hong  13.0      F
2   3   Kim  12.0      M
3   4   Lee  12.0      F
4   5   Han  11.8      M

In [43]:
# 나이 컬럼만 중복 여부 체크
data_df.duplicated(subset=['age'])  # 처음을 제외하고 True로 나옴, 기본 값 때문

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool