## Chapter 3 판다스 자료구조 살펴보기

In [1]:
import pandas as pd

- 3-1 나만의 데이터 만들기

In [2]:
# 시리즈와 데이터 프레임 만들기
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(data=['Wes McKinney', 'Creator of Pandas'], index=['person', 'Who'])
print(s)

person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [4]:
scientisits = pd.DataFrame({
    "Name" : ["Rosline Franklin", "William Gosset"],
    "Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1973-10-16"],
    "Age" : [37, 61]})

In [5]:
print(scientisits)

               Name    Occupation        Born        Died  Age
0  Rosline Franklin       Chemist  1920-07-25  1958-04-16   37
1    William Gosset  Statistician  1876-06-13  1973-10-16   61

In [6]:
scientisits = pd.DataFrame(
    {"Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1973-10-16"],
    "Age" : [37, 61]},
    index=["Rosline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"]
)

In [7]:
print(scientisits)

                    Occupation        Born        Died  Age
Rosline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset    Statistician  1876-06-13  1973-10-16   61

- 3-2 시리즈 다루기

In [8]:
# 시리즈 추출하기
scientisits = pd.DataFrame(
    {"Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1973-10-16"],
    "Age" : [37, 61]},
    index=["Rosline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"])

scientisits

                    Occupation        Born        Died  Age
Rosline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset    Statistician  1876-06-13  1973-10-16   61

In [9]:
frist_row = scientisits.loc['William Gosset']
print(type(frist_row))

<class 'pandas.core.series.Series'>

In [10]:
print(frist_row)

Occupation    Statistician
Born            1876-06-13
Died            1973-10-16
Age                     61
Name: William Gosset, dtype: object

In [11]:
print(frist_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [12]:
print(frist_row.values)

['Statistician' '1876-06-13' '1973-10-16' np.int64(61)]

In [13]:
# 시리즈의 keys() 메서드
print(frist_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [14]:
print(frist_row.index[0])

Occupation

In [15]:
print(frist_row.keys()[0])

Occupation

In [16]:
# 시리즈와 ndarray
ages = scientisits['Age']
print(ages)

Rosline Franklin    37
William Gosset      61
Name: Age, dtype: int64

In [17]:
print(ages.mean())

49.0

In [18]:
print(ages.min())

37

In [19]:
print(ages.max())

61

In [20]:
print(ages.std())   # 표준편차

16.97056274847714

In [21]:
# 시리즈와 불린
scientisits = pd.read_csv('../data/scientists.csv')

In [22]:
ages = scientisits['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [23]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [24]:
print(ages.mean())

59.125

In [25]:
print(ages[ages>ages.mean()])   # [] 안에 조건을 지정

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [26]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [27]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [28]:
manual_bool_values = [
    True,
    True,
    False,
    False,
    True,
    True,
    False,
    True,
]
print(ages[manual_bool_values]) # True로 지정한 행만 출력

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [29]:
# 시리즈와 브로드캐스팅
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [30]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [31]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [32]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [33]:
print(ages+pd.Series([1, 100])) # 인덱스가 일치하는 것만 계산

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [34]:
import numpy as np
# print(ages + np.array([1, 100])) # 길이가 다르면 에러를 내고 계산 안함

In [35]:
# 인덱스가 같은 벡터 자동 정렬하기
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [36]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [37]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [38]:
print(ages + rev_ages)  # 결과는 오름차순으로 정리됨

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

- 3-3 데이터프레임 다루기

In [39]:
scientisits.index

RangeIndex(start=0, stop=8, step=1)

In [40]:
scientisits.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [41]:
scientisits.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

In [42]:
# 데이터프레임과 불리언 추출
print(scientisits.loc[scientisits['Age'] > scientisits['Age'].mean()])  # 조건을 넣어서 추출할 수 있음

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [43]:
# 데이터프레임과 브로드캐스팅
frist_half = scientisits[:4]
second_half = scientisits[4:]
print(frist_half, second_half, sep='\n\n')

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [44]:
print(scientisits *2)   # 문자열은 2번 반복, 수는 2배

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [45]:
df1 = df2 = pd.DataFrame(data=[[1, 2, 3], [4, 5, 6], [7, 8, 9]])    # 같은 셀끼리 더함.
df_added = df1.add(df2)
print(df_added)

    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18

- 3-4 시리즈와 데이터프레임 데이터 변환하기

In [46]:
print(scientisits.dtypes)

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [47]:
born_datetime = pd.to_datetime(scientisits['Born'], format= '%Y-%m-%d') # 형식지정
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [48]:
died_datetime = pd.to_datetime(scientisits['Died'], format='%Y-%m-%d')
scientisits['born_dt'], scientisits['died_dt'] = (born_datetime, died_datetime)

In [49]:
print(scientisits.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [50]:
print(scientisits.shape)

(8, 7)

In [51]:
print(scientisits.dtypes)   # 모양과 데이터가 변경되었음

Name                  object
Born                  object
Died                  object
Age                    int64
Occupation            object
born_dt       datetime64[ns]
died_dt       datetime64[ns]
dtype: object

In [52]:
print(scientisits['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [53]:
print(scientisits['Age'].sample(frac=1, random_state=42))   # 값을 랜덤하게 섞어서 추출, 하지만 인덱스의 순서가 바뀐 상태일 뿐

1    61
5    45
0    37
7    77
2    90
4    56
3    66
6    41
Name: Age, dtype: int64

In [54]:
scientisits['Age'] = scientisits['Age'].sample(frac=1, random_state=42)
print(scientisits['Age'])   # 판다스는 자동 정렬

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [55]:
# 원본이 바뀌는건 원하진 않지만...
scientisits['Age'] = scientisits['Age'].sample(frac=1, random_state=42).values
print(scientisits['Age'])   # 이 뒤의 데이터는 새로 불러오지 않는 이산 바뀐 상태

0    61
1    45
2    37
3    77
4    90
5    56
6    66
7    41
Name: Age, dtype: int64

In [56]:
scientisits['age_days'] = (scientisits['died_dt']-scientisits['born_dt'])
print(scientisits)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days
0 1920-07-25 1958-04-16 13779 days
1 1876-06-13 1937-10-16 22404 days
2 1820-05-12 1910-08-13 32964 days
3 1867-11-07 1934-07-04 24345 days
4 1907-05-27 1964-04-14 20777 days
5 1813-03-15 1858-06-16 16529 days
6 1912-06-23 1954-06-07 15324 days
7 1777-04-30 1855-02-23 28422 days

In [57]:
scientisits['age_years'] = (scientisits['age_days'].dt.days / 365).apply(np.floor)  # apply 값을 인정하는 그런 느낌으로 사용했었는데 뭐였더라?
print(scientisits)  # 이럴거면 위에서 왜 바꾼거여?

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years
0 1920-07-25 1958-04-16 13779 days       37.0
1 1876-06-13 1937-10-16 22404 days       61.0
2 1820-05-12 1910-08-13 32964 days       90.0
3 1867-11-07 1934-07-04 24345 days       66.0
4 1907-05-27 1964-04-14 20777 days       56.0
5 1813-03-15 1858-06-16 16529 days       45.0
6 1912-06-23 1954-06-07 15324 days       41.0
7 1777-04-30 1855-02-23 28422 days       77.0

In [58]:
# 열을 할당하고 수정하는 새로운 방법이 있데..
scientisits = scientisits.assign(
    age_days_assign = scientisits['died_dt'] - scientisits['born_dt'],
    age_year_assign = (scientisits['age_days'].dt.days / 365).apply(np.floor))  # 여기는 람다로도 표현가능
  # age_year_assign = lamda df_: (df_["age_days_assign"].dt.days / 365).apply(np.floor)

print(scientisits)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days       37.0      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days       61.0      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days       90.0      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days       66.0      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days       56.0      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days       45.0      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days       41.0      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days       77.0      28422 days             77.0

In [59]:
print(scientisits.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days', 'age_years', 'age_days_assign', 'age_year_assign'],
      dtype='object')

In [60]:
# 뒤죽박줃 섞인 Age 삭제 < 왜 섞은거야?
scientisits_dropped = scientisits.drop(['Age'], axis="columns") # 이렇게도 삭제 할수 있구낭

In [61]:
scientisits_dropped

,Name,Born,Died,Occupation,born_dt,died_dt,age_days,age_years,age_days_assign,age_year_assign
0,Rosaline Franklin,1920-07-25,1958-04-16,Chemist,1920-07-25,1958-04-16,13779 days,37.0,13779 days,37.0
1,William Gosset,1876-06-13,1937-10-16,Statistician,1876-06-13,1937-10-16,22404 days,61.0,22404 days,61.0
2,Florence Nightingale,1820-05-12,1910-08-13,Nurse,1820-05-12,1910-08-13,32964 days,90.0,32964 days,90.0
3,Marie Curie,1867-11-07,1934-07-04,Chemist,1867-11-07,1934-07-04,24345 days,66.0,24345 days,66.0
4,Rachel Carson,1907-05-27,1964-04-14,Biologist,1907-05-27,1964-04-14,20777 days,56.0,20777 days,56.0
5,John Snow,1813-03-15,1858-06-16,Physician,1813-03-15,1858-06-16,16529 days,45.0,16529 days,45.0
6,Alan Turing,1912-06-23,1954-06-07,Computer Scientist,1912-06-23,1954-06-07,15324 days,41.0,15324 days,41.0
7,Johann Gauss,1777-04-30,1855-02-23,Mathematician,1777-04-30,1855-02-23,28422 days,77.0,28422 days,77.0

In [63]:
print(scientisits_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt', 'age_days',
       'age_years', 'age_days_assign', 'age_year_assign'],
      dtype='object')

- 3-5 데이터 저장하고 불러오기

In [64]:
names = scientisits['Name'] # 여기는 age 있잖앙...
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [66]:
# 저장~ 이제는 결과 폴더 생길거임
names.to_pickle('../output/scientists_names_series.pickle')

In [67]:
scientisits.to_pickle('../output/scientists_df.pickle')

In [68]:
# 파이썬 전용 이진 파일이라는데 읽어보자!
series_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(series_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [70]:
dataframe_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(dataframe_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days       37.0      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days       61.0      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days       90.0      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days       66.0      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days       56.0      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days       45.0      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days       41.0      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days       77.0      28422 days             77.0

In [71]:
# CSV와 TSV 파일로 저장하고 불러오기
scientisits.to_csv('../output/scientists_df_no_index.csv', index=False) # ';'가 포한된 다붙은 하나의 데이터 파일

In [72]:
# 엑셀로 저장하기
names = scientisits['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [73]:
names_df = names.to_frame()

In [74]:
names_df.to_excel('../output/scientists_names_series_df.xls', engine='openpyxl')

In [78]:
scientisits.to_excel('../output/scientists_df.xls',    # .xlxs는 오류남
                     sheet_name="scientisits",  # 시트 이름 지정
                     index=False, engine='openpyxl')

In [79]:
# 다양한 형식으로 저장하기
scientisits.to_feather('../output/scientists.feater')

In [80]:
sci_feater = pd.read_feather('../output/scientists.feater')
print(sci_feater)   # feather 파일은 apache arrow 프로젝트의 일부라고함.

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  age_year_assign
0 1920-07-25 1958-04-16 13779 days       37.0      13779 days             37.0
1 1876-06-13 1937-10-16 22404 days       61.0      22404 days             61.0
2 1820-05-12 1910-08-13 32964 days       90.0      32964 days             90.0
3 1867-11-07 1934-07-04 24345 days       66.0      24345 days             66.0
4 1907-05-27 1964-04-14 20777 days       56.0      20777 days             56.0
5 1813-03-15 1858-06-16 16529 days       45.0      16529 days             45.0
6 1912-06-23 1954-06-07 15324 days       41.0      15324 days             41.0
7 1777-04-30 1855-02-23 28422 days       77.0      28422 days             77.0

In [81]:
sci_sub_dict = scientisits.head(2)

In [82]:
sci_dict = sci_sub_dict.to_dict()

In [83]:
import pprint
pprint.pprint(sci_dict)

{'Age': {0: 61, 1: 45},
 'Born': {0: '1920-07-25', 1: '1876-06-13'},
 'Died': {0: '1958-04-16', 1: '1937-10-16'},
 'Name': {0: 'Rosaline Franklin', 1: 'William Gosset'},
 'Occupation': {0: 'Chemist', 1: 'Statistician'},
 'age_days': {0: Timedelta('13779 days 00:00:00'),
              1: Timedelta('22404 days 00:00:00')},
 'age_days_assign': {0: Timedelta('13779 days 00:00:00'),
                     1: Timedelta('22404 days 00:00:00')},
 'age_year_assign': {0: 37.0, 1: 61.0},
 'age_years': {0: 37.0, 1: 61.0},
 'born_dt': {0: Timestamp('1920-07-25 00:00:00'),
             1: Timestamp('1876-06-13 00:00:00')},
 'died_dt': {0: Timestamp('1958-04-16 00:00:00'),
             1: Timestamp('1937-10-16 00:00:00')}}

In [84]:
sci_dict_df = pd.DataFrame.from_dict(sci_dict)
print(sci_dict_df)

                Name        Born        Died  Age    Occupation    born_dt  \
0  Rosaline Franklin  1920-07-25  1958-04-16   61       Chemist 1920-07-25
1     William Gosset  1876-06-13  1937-10-16   45  Statistician 1876-06-13

     died_dt   age_days  age_years age_days_assign  age_year_assign
0 1958-04-16 13779 days       37.0      13779 days             37.0
1 1937-10-16 22404 days       61.0      22404 days             61.0

In [85]:
# json으로도 저장
sci_json = sci_sub_dict.to_json(orient='records', indent=2, date_format='iso')
pprint.pprint(sci_json) # 일반 print 했으면 롹실히 보기 어려웠겠다.

('[\n'
 '  {\n'
 '    "Name":"Rosaline Franklin",\n'
 '    "Born":"1920-07-25",\n'
 '    "Died":"1958-04-16",\n'
 '    "Age":61,\n'
 '    "Occupation":"Chemist",\n'
 '    "born_dt":"1920-07-25T00:00:00.000",\n'
 '    "died_dt":"1958-04-16T00:00:00.000",\n'
 '    "age_days":"P13779DT0H0M0S",\n'
 '    "age_years":37.0,\n'
 '    "age_days_assign":"P13779DT0H0M0S",\n'
 '    "age_year_assign":37.0\n'
 '  },\n'
 '  {\n'
 '    "Name":"William Gosset",\n'
 '    "Born":"1876-06-13",\n'
 '    "Died":"1937-10-16",\n'
 '    "Age":45,\n'
 '    "Occupation":"Statistician",\n'
 '    "born_dt":"1876-06-13T00:00:00.000",\n'
 '    "died_dt":"1937-10-16T00:00:00.000",\n'
 '    "age_days":"P22404DT0H0M0S",\n'
 '    "age_years":61.0,\n'
 '    "age_days_assign":"P22404DT0H0M0S",\n'
 '    "age_year_assign":61.0\n'
 '  }\n'
 ']')

In [86]:
sci_json_df = pd.read_json(
    ('[\n'
 '  {\n'
 '    "Name":"Rosaline Franklin",\n'
 '    "Born":"1920-07-25",\n'
 '    "Died":"1958-04-16",\n'
 '    "Age":61,\n'
 '    "Occupation":"Chemist",\n'
 '    "born_dt":"1920-07-25T00:00:00.000",\n'
 '    "died_dt":"1958-04-16T00:00:00.000",\n'
 '    "age_days":"P13779DT0H0M0S",\n'
 '    "age_years":37.0,\n'
 '    "age_days_assign":"P13779DT0H0M0S",\n'
 '    "age_year_assign":37.0\n'
 '  },\n'
 '  {\n'
 '    "Name":"William Gosset",\n'
 '    "Born":"1876-06-13",\n'
 '    "Died":"1937-10-16",\n'
 '    "Age":45,\n'
 '    "Occupation":"Statistician",\n'
 '    "born_dt":"1876-06-13T00:00:00.000",\n'
 '    "died_dt":"1937-10-16T00:00:00.000",\n'
 '    "age_days":"P22404DT0H0M0S",\n'
 '    "age_years":61.0,\n'
 '    "age_days_assign":"P22404DT0H0M0S",\n'
 '    "age_year_assign":61.0\n'
 '  }\n'
 ']'),
    orient='records'
)

print(sci_json_df)  # 사람들이 많이 안 쓰나 보다

                Name        Born        Died  Age    Occupation  \
0  Rosaline Franklin  1920-07-25  1958-04-16   61       Chemist
1     William Gosset  1876-06-13  1937-10-16   45  Statistician

                   born_dt                  died_dt        age_days  \
0  1920-07-25T00:00:00.000  1958-04-16T00:00:00.000  P13779DT0H0M0S
1  1876-06-13T00:00:00.000  1937-10-16T00:00:00.000  P22404DT0H0M0S

   age_years age_days_assign  age_year_assign
0         37  P13779DT0H0M0S               37
1         61  P22404DT0H0M0S               61

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_4068\796102183.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  sci_json_df = pd.read_json(

In [87]:
print(sci_json_df.dtypes)

Name               object
Born               object
Died               object
Age                 int64
Occupation         object
born_dt            object
died_dt            object
age_days           object
age_years           int64
age_days_assign    object
age_year_assign     int64
dtype: object

In [89]:
sci_json_df['died_dt_json'] = pd.to_datetime(sci_json_df["died_dt"])
print(sci_json_df)

                Name        Born        Died  Age    Occupation  \
0  Rosaline Franklin  1920-07-25  1958-04-16   61       Chemist
1     William Gosset  1876-06-13  1937-10-16   45  Statistician

                   born_dt                  died_dt        age_days  \
0  1920-07-25T00:00:00.000  1958-04-16T00:00:00.000  P13779DT0H0M0S
1  1876-06-13T00:00:00.000  1937-10-16T00:00:00.000  P22404DT0H0M0S

   age_years age_days_assign  age_year_assign died_dt_json
0         37  P13779DT0H0M0S               37   1958-04-16
1         61  P22404DT0H0M0S               61   1937-10-16

In [90]:
print(sci_json_df.dtypes)

Name                       object
Born                       object
Died                       object
Age                         int64
Occupation                 object
born_dt                    object
died_dt                    object
age_days                   object
age_years                   int64
age_days_assign            object
age_year_assign             int64
died_dt_json       datetime64[ns]
dtype: object

In [91]:
# 다양한 데이터 저장 유형
# - to_excel, to_pickle, to_csv, to_feather, to_dict