## Chapter 3 판다스 자료구조 살펴보기

In [1]:
import pandas as pd

- 3-1 나만의 데이터 만들기

In [2]:
# 시리즈와 데이터 프레임 만들기
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(data=['Wes McKinney', 'Creator of Pandas'], index=['person', 'Who'])
print(s)

person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [4]:
scientisits = pd.DataFrame({
    "Name" : ["Rosline Franklin", "William Gosset"],
    "Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1973-10-16"],
    "Age" : [37, 61]})

In [5]:
print(scientisits)

               Name    Occupation        Born        Died  Age
0  Rosline Franklin       Chemist  1920-07-25  1958-04-16   37
1    William Gosset  Statistician  1876-06-13  1973-10-16   61

In [6]:
scientisits = pd.DataFrame(
    {"Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1973-10-16"],
    "Age" : [37, 61]},
    index=["Rosline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"]
)

In [7]:
print(scientisits)

                    Occupation        Born        Died  Age
Rosline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset    Statistician  1876-06-13  1973-10-16   61

- 3-2 시리즈 다루기

In [8]:
# 시리즈 추출하기
scientisits = pd.DataFrame(
    {"Occupation" : ["Chemist", "Statistician"],
    "Born" : ["1920-07-25", "1876-06-13"],
    "Died" : ["1958-04-16", "1973-10-16"],
    "Age" : [37, 61]},
    index=["Rosline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"])

scientisits

                    Occupation        Born        Died  Age
Rosline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset    Statistician  1876-06-13  1973-10-16   61

In [9]:
frist_row = scientisits.loc['William Gosset']
print(type(frist_row))

<class 'pandas.core.series.Series'>

In [10]:
print(frist_row)

Occupation    Statistician
Born            1876-06-13
Died            1973-10-16
Age                     61
Name: William Gosset, dtype: object

In [11]:
print(frist_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [12]:
print(frist_row.values)

['Statistician' '1876-06-13' '1973-10-16' np.int64(61)]

In [14]:
# 시리즈의 keys() 메서드
print(frist_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [15]:
print(frist_row.index[0])

Occupation

In [16]:
print(frist_row.keys()[0])

Occupation

In [17]:
# 시리즈와 ndarray
ages = scientisits['Age']
print(ages)

Rosline Franklin    37
William Gosset      61
Name: Age, dtype: int64

In [18]:
print(ages.mean())

49.0

In [19]:
print(ages.min())

37

In [20]:
print(ages.max())

61

In [21]:
print(ages.std())   # 표준편차

16.97056274847714

In [22]:
# 시리즈와 불
scientisits = pd.read_csv('../data/scientists.csv')

In [24]:
ages = scientisits['Age']
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [25]:
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [27]:
print(ages.mean())

59.125

In [28]:
print(ages[ages>ages.mean()])   # [] 안에 조건을 지정

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [29]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [30]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [31]:
manual_bool_values = [
    True,
    True,
    False,
    False,
    True,
    True,
    False,
    True,
]
print(ages[manual_bool_values]) # True로 지정한 행만 출력

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [32]:
# 시리즈와 브로드캐스팅
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [33]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [34]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [35]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [36]:
print(ages+pd.Series([1, 100])) # 인덱스가 일치하는 것만 계산

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [38]:
import numpy as np
# print(ages + np.array([1, 100])) # 길이가 다르면 에러를 내고 계산 안함