### CSV 파일 DataFrame으로 저장
- pandas.read_csv() 함수 사용

In [1]:
import pandas as pd

In [2]:
# 데이터 준비 - 파일
data_file = r'C:\Users\PC\Desktop\AI_빅데이터 전문가 양성과정 6기\KDT6\EX_PANDAS06\Day02\data.csv'

In [5]:
# CSV 파일 ==>  DataFrame
csv_df = pd.read_csv(data_file)

In [14]:
csv_df, csv_df.columns, csv_df.index

(   no  name  age gnader
 0   1  Hong   10      M
 1   2  Park   13      F
 2   3   Kim   12      M
 3   4   Lee   16      F
 4   5   Han   15      M,
 Index(['no', 'name', 'age', 'gnader'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1))

In [9]:
data_file = r'C:\Users\PC\Desktop\AI_빅데이터 전문가 양성과정 6기\KDT6\EX_PANDAS06\Day02\data1.csv'

In [18]:
csv_df1 = pd.read_csv(data_file, sep=' ', header=None)  # sep으로 구분을 지정을 안해주면 하나의 덩어리로 인식

In [19]:
csv_df1.columns

Index([0, 1, 2, 3], dtype='int64')

In [20]:
csv_df1.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
csv_df1

   0     1   2  3
0  1  Hong  10  M
1  2  Park  13  F
2  3   Kim  12  M
3  4   Lee  16  F
4  5   Han  15  M