### DataFrame에서 원소 읽기
- 행 읽기 / 열 읽기
- 행과 열이 교차하는 지점의 원소 읽기

In [1]:
import pandas as pd

In [2]:
jumsu = [[98, 99, 100], [67, 81, 80]]

In [3]:
df1 = pd.DataFrame(jumsu)

In [4]:
df1

    0   1    2
0  98  99  100
1  67  81   80

In [5]:
# 행 인덱스와 열 인덱스 속성으로 지정
# 행 인덱스 => 김경태, 안효준
# 열 인덱스 =. 음악, 영어, 무용

row_name = ['김경태', '안효준']
col_name = ['음악', '영어', '무용']

df1.index = row_name
df1.columns = col_name

In [6]:
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

- 열/컬럼 선택 : 변수명[컬럼명/컬럼인덱스]

In [8]:
# 영어 과목 점수만 추출
print(df1['영어'], type(df1['영어']), sep='\n')

김경태    99
안효준    81
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
# 무용 과목 점수만 추출
print(df1.무용)

김경태    100
안효준     80
Name: 무용, dtype: int64

In [15]:
# 음악, 무용 컬럼 추출
df1[['음악', '무용']]

     음악   무용
김경태  98  100
안효준  67   80

In [18]:
df1['음악':'무용'] # 행까지 가져와야지 원하는 슬라이싱

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

In [22]:
# df1[0] # key error

# 추출하는 방법
df1[df1.columns]
print(df1.columns, df1.columns[1:], df1.columns[::2], sep='\n')

df1[df1.columns[::2]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

     음악   무용
김경태  98  100
안효준  67   80

- 행/로우 선택 : 변수명.iloc[행인덱스], 변수명.loc[행인덱스]

In [11]:
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

In [12]:
# 변수명.iloc[] 정수 인덱스만 가능

df1.iloc[0]

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [14]:
# 변수명.loc[] 문자 인덱스만 가능

df1.loc['김경태']

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [23]:
# 여러개 행 추출
df1.loc[['안효준', '김경태']]

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

In [24]:
print(df1.index, df1.index[1:], df1.index[::-1], sep='\n')

df1.loc[df1.index[::-1]]

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

- 원소 추출 : 변수명.loc[행인덱스][열인덱스], 변수명.iloc[정수행인덱스][열인덱스]

In [27]:
# 경태님의 영어 셩적만 추출
# df1['김경태']['영어'] eroor

print(df1.iloc[0]['영어'])
print(df1.loc['김경태']['영어'])

99
99

- 원소 추출 : 변수명.iloc[정수행인덱스, 정수열인덱스], 변수명.loc[행인덱스, 열인덱스]

In [29]:
# 경태님의 영어 점수
print(df1.iloc[0, 1])

99

In [30]:
print(df1.loc['김경태', '영어'])

99

In [36]:
# 문제 : 김경태님의 영어, 무용 점수 추출
print(df1.loc['김경태', ['영어', '무용']])
print(df1.iloc[0, [1,2]])

영어     99
무용    100
Name: 김경태, dtype: int64
영어     99
무용    100
Name: 김경태, dtype: int64

In [37]:
print(df1.loc['김경태', '음악':'무용':2])

음악     98
무용    100
Name: 김경태, dtype: int64

In [38]:
df1.loc[:, '음악']

김경태    98
안효준    67
Name: 음악, dtype: int64