### DataFrame 행/열 인덱스 변경
- 방법1 : 속성명으로 변경 ==> 전체 변경
- 방법2 : 메서드명으로 변경 ==> 일부변경

In [1]:
import pandas as pd

In [2]:
data = {'name':['홍길동', '마징가', '원더우먼'],
        'job':['의적', '로봇', '영웅'],
        'gender':['남', '남', '여'],
        'age':[100, 200, 300],
        'heught':[180, 300, 200]}

In [3]:
dataDF = pd.DataFrame(data)
print(dataDF)

   name job gender  age  heught
0   홍길동  의적      남  100     180
1   마징가  로봇      남  200     300
2  원더우먼  영웅      여  300     200

In [4]:
# 열 인덱스를 이름, 직업, 성별, 나이, 키로 변경
dataDF.columns = ['이름', '직업', '성별', '나이', '키']

In [5]:
dataDF

     이름  직업 성별   나이    키
0   홍길동  의적  남  100  180
1   마징가  로봇  남  200  300
2  원더우먼  영웅  여  300  200