### DataFramae 살펴보기
- Dict 데이터로 DF 저장

In [3]:
import pandas as pd

In [4]:
jumsu = {'국어':[89, 91],
         '수학':[88, 90],
         '음악':[100, 98]}

In [5]:
# DF으로 데이터 저장
df1 = pd.DataFrame(jumsu)   # 키는 열이름이 됨

In [6]:
print(df1)

   국어  수학   음악
0  89  88  100
1  91  90   98

- 속성으로 행 인덱스 변경 : 변수명.index = 새로운 인덱스

In [7]:
# 0, 1 현재 인덱스
df1.index = ['nana', 'nunu']

In [8]:
df1

      국어  수학   음악
nana  89  88  100
nunu  91  90   98

In [9]:
# 열 인덱스
df1.columns = ['국어', '미술', '과학']

In [10]:
df1

      국어  미술   과학
nana  89  88  100
nunu  91  90   98

In [11]:
# 값을 저장하고 있은 속성 ==> values
df1.values

array([[ 89,  88, 100],
       [ 91,  90,  98]])

In [13]:
# df1.values = [[89, 78, 90], [91, 32, 4]]
# 데이터 변경은 속성으로 불가능