### CH03 - PANDAS 기본 프로그래밍

- 구조화 데이터 (Series)

In [3]:
# 계속 사용할 모듈은 맨 위에 불러 두겠음.
import pandas as pd

In [4]:
# 딕셔너리 --> 시리즈

# k:v 구조를 갖는 딕셔너리르 만들고, 변수 dict_data에 저장
dict_data = {'a':1, 'b':2, 'c':3}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr)); print()

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [5]:
# 리스트 --> 시리즈

# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr); print()

# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx, val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

RangeIndex(start=0, stop=5, step=1) ['2019-01-02' 3.14 'ABC' 100 True]

In [8]:
# 튜플 --> 시리즈

# 튜플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr); print()

# 원소를 1개 선택
print(sr.iloc[0])        # sr의 1번째 원소 선택 (정수형 위치 인덱스를 활용)
print(sr['이름'])   # '이름' 라벨을 가진 원소 선택 (인덱스 이름을 활용 )

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

영인
영인

In [11]:
# 튜플 --> 시리즈

# 여러 개의 원소를 선택 (인덱스 리스트 활용)
print(sr.iloc[[1, 2]])
print(sr.loc[['생년월일', '성별']])
print()

# 여러 개의 원소를 선택 (인덱스 범위 지점)
print(sr.iloc[1:2])                 # 시작 인덱스 : 끝 인덱스 but 끝 인덱스 미포함
print(sr.loc['생년월일':'성별'])     # 시작 인덱스명 : 끝 인덱스명 but 끝 인덱스 포함

생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

- 구조화 데이터 - 데이터프레임(DataFrame)

In [12]:
# 딕셔너리 --> 데이터 프레임

# 열이름을 key, 리스트를  value로 갖는 딕셔너리 정의 (2차원 배열)
# dict_data = {'a':1, 'b':2, 'c':3}
dict_data = {'c0':[1, 2, 3], 'c1':[4, 5, 6], 'c2':[7, 8, 9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df)); print(); df

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [16]:
# 행이름, 열이름 설정

# 행 인덱스 / 열 이름 지정하여, 데이터 프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index=['준서', '예은'],
                  columns=['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
print("df =========================\n", df)

# 데이터프레임
print("df.index => ", df.index)     # 행 인덱스
print("df.column => ", df.columns)  # 열 이름

df =========================
     나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
df.index =>  Index(['준서', '예은'], dtype='object')
df.column =>  Index(['나이', '성별', '학교'], dtype='object')

In [17]:
# 행 인덱스, 열 이름 변경

# 행 인덱스, 열 이름 변경하기
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df); print()          # 데이터프레임
print(df.index); print()    # 행 인덱스
print(df.columns)           # 열 이름

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

Index(['학생1', '학생2'], dtype='object')

Index(['연령', '남녀', '소속'], dtype='object')

In [18]:
# 행 인덱스, 열 이름 변경

df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index=['준서', '예은'],
                  columns=['나이', '성별', '학교'])

# 열 이름 중, '나이'를 '연령', '성별'을 '남녀', '학교'를 '소속'으로
df2 = df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'})

# df의 행 인덱스 중에서 , '준서'를 '학생1', '예은'을 '학생2'로 바꾸기
df3 = df.rename(index={'준서':'학생1', '예은':'학생2'})

# df를 출력(변경후)
print(f"df=============={df3}\n{df}")
print(f"df==============\n{df2}")

df==============     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중
    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
df==============
    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

In [25]:
# 행 삭제

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학':[90, 80, 70], '영어':[98, 89, 95],
             '음악':[85, 95, 100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df); print()

# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df.copy()
df2.drop('우현', inplace=True)
print(df2); print()

# 데이터르레임 df를 복제하여 변수 df3에 저장. df3의 2개의 행(row)을 삭제
df3 = df.copy()
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

In [26]:
# 열 삭제
# 위와 동일한 데이터 사용

print(df); print()

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)
print(df4); print()

# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열(column)을 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [30]:
# 행 선택
# 위와 동인한 데이터 사용

print("df ======================\n", df)    # 데이터프레임 출력
print()

# 행 인덱스를 사용하여 행 1개를 선택
label1 = df.loc['서준'] # loc 인덱스이름 활용
position1 = df.iloc[0]  # iloc 인덱스 활용
print('label1 => \n', label1); print()
print('position1 => \n', position1); print()

df ======================
     수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

label1 =>
 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

position1 =>
 수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [34]:
# 행 선택

# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2); print()
print(position2); print()

# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3); print()
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100

In [35]:
# 열 선택
# 위와 동일한 데이터

print(df); print(type(df)); print()

# 수학 점수 제이터만 선택. 변수 math1에 저장
math1 = df['수학']
print(math1); print(type(math1))

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [36]:
# 열 선택

# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df.영어
print(english); print(type(english)); print()

# '음악', '체육' 점수 데이터를 선택. 변수 music_gym 에 저장
music_gym = df[['음악', '체육']]
print(music_gym); print(type(music_gym)); print()

# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(math2); print(type(math2))

서준    98
우현    89
인아    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

     음악   체육
서준   85  100
우현   95   90
인아  100   90
<class 'pandas.core.frame.DataFrame'>

    수학
서준  90
우현  80
인아  70
<class 'pandas.core.frame.DataFrame'>

In [37]:
# 원소 선택

# DataFarame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름':['서준', '우현', '인아'],
             '수학':[90, 80, 70],
             '영어':[98, 89, 95],
             '음악':[85, 95, 100],
             '체육':[100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)

# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
85
85

In [41]:
# 원소 선택

# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f); print()

# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체욱' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

In [46]:
# 열 추가

# DataFarame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름':['서준', '우현', '인아'],
             '수학':[90, 80, 70],
             '영어':[98, 89, 95],
             '음악':[85, 95, 100],
             '체육':[100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df); print()

# 데이터프레임 df에 '국어' 점수 열(column)을 추가. 데이터 값은 80 지정
df['국어'] = 80; print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [47]:
# 행 추가

# DataFarame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름':['서준', '우현', '인아'],
             '수학':[90, 80, 70],
             '영어':[98, 89, 95],
             '음악':[85, 95, 100],
             '체육':[100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df); print()

# 새로운 행(row)을 추가. 같은 원소 값을 입력
df.loc[3] = 0
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

In [48]:
# 행 추가

# 새로운 행(row)을 추가. 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df); print()

# 새로운 행(row)을 추가. 기존 행을 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [50]:
# 원소 값 변경

# DataFarame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름':['서준', '우현', '인아'],
             '수학':[90, 80, 70],
             '영어':[98, 89, 95],
             '음악':[85, 95, 100],
             '체육':[100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df); print()

# 데이터프레임 df의 특정 원소르 변경하는 방법 : '서준'의 '체육' 점수
df.iloc[0, 3] = 80
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

In [51]:
# 원소 값 변경

df.loc['서준', '체육'] = 90
print(df); print()

df.loc['서준', '체육'] = 100
print(df); print()

# 데이터프레임 df의 원소 여러 개를 변경하는 방법 : '서준'의 '음악', '체육' 점수
df.loc['서준', ['음악', '체육']] = 50
print(df); print()

df.loc['서준', ['음악', '체육']] =100, 50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

In [52]:
df

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90