Lamda 람다

In [1]:
# 일반 함수 사용
def get_sum(x, y):
    return x + y

print("정수의 합: ", get_sum(10, 20))

정수의 합:  30

In [2]:
# 람다식의 사용
sum_ = lambda a, b: a + b

print(sum_(3, 7))

10

In [3]:
# key 매개변수 sorted()에서
msg = "The health know not of their health, but only the sick"
sorted_list = sorted(msg.split(), key=str.lower)    # key를 지정해주면 그것을 중심으로 정렬
print(sorted_list)

['but', 'health', 'health,', 'know', 'not', 'of', 'only', 'sick', 'The', 'the', 'their']

In [4]:
# key 매개변수
# 문자열의 길이를 기준으로 내림차순
msg = 'The health know not of their health, but only the sick'
descending_sorted_list = sorted(msg.split(), key=len, reverse=True)
print(descending_sorted_list)

['health,', 'health', 'their', 'know', 'only', 'sick', 'The', 'not', 'but', 'the', 'of']

In [6]:
# key 매개변수 : 여러 항목을 가지는 리스트 정렬
students = [('Alice', 3.9, 20160303),
            ('Bob',3.0, 20160302), ('Charlie', 4.3, 20160301)]

# 학번(students[2])을 기준으로 오름차순 정렬
sorted_students1 = sorted(students, key=(lambda s: s[2]))
print(sorted_students1)

# 학점(students[1])을 기준으로 내릴차순 정렬
sorted_students2 = sorted(students, key=(lambda s: s[1]), reverse=True)
print(sorted_students2)

[('Charlie', 4.3, 20160301), ('Bob', 3.0, 20160302), ('Alice', 3.9, 20160303)]
[('Charlie', 4.3, 20160301), ('Alice', 3.9, 20160303), ('Bob', 3.0, 20160302)]

In [7]:
# key 매개변수 : 람다식을 활용한 객체 정렬
class Student:
    def __init__(self, name, grade, number):
        self.name = name
        self.grade = grade
        self.number = number
        
    def __repr__(self):
        return f"({self.name}, {self.grade}, {self.number})"
    
# Student 객체 리스트 생성
students = [Student('홍길동', 3.9, 20240303),
            Student('김유신', 3.0, 20240302),
            Student('박윤수', 4.3, 20240301)]

print(students[0])

sorted_list = sorted(students, key=(lambda s: s.name))
print(sorted_list)

(홍길동, 3.9, 20240303)
[(김유신, 3.0, 20240302), (박윤수, 4.3, 20240301), (홍길동, 3.9, 20240303)]

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=['A', 'B'])
df

   A  B
0  1  2
1  3  4
2  5  6

In [10]:
def plus_one(x):
    x = x + 1
    return x

In [11]:
# 데이터프레임에 일반 함수 적용(apply)
df['A'] = df['A'].apply(plus_one)
df['B'] = df['B'].apply(plus_one)
df

   A  B
0  2  3
1  4  5
2  6  7

In [12]:
# 데이터프레임에 일괄 적용
df = df.apply(plus_one)
df

   A  B
0  3  4
1  5  6
2  7  8

In [13]:
# 데이터 프레임에 lambda 적용
df['A'] = df['A'].apply(lambda x: x + 1)
df['B'] = df['B'].apply(lambda x: x + 1)
df

   A  B
0  4  5
1  6  7
2  8  9

In [14]:
# 데이터 프레임에 lambda 적용
df['C'] = [10, 20, 30]
df

   A  B   C
0  4  5  10
1  6  7  20
2  8  9  30

In [15]:
df[['A', 'C']] = df[['A', 'C']].apply(lambda x: x+10)
df

    A  B   C
0  14  5  20
1  16  7  30
2  18  9  40

In [16]:
# 딕셔너리에 lambda 적용
addr_aliases = {'경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도',
                '서울시':'서울특별시', '부산특별시':'부산광역시', '대전시':'대전광역시',
                '부산시':'부산광역시', '충남':'충청남도', '전남':'전라남도', '전북':'전라북도'}

In [17]:
print(addr_aliases.get('경기')) # 키에 대응하는 값이 없으면 None을 리턴
print(addr_aliases.get('대전'))
print(addr_aliases.get('부산'))
print(addr_aliases.get('부산', '부산광역시'))   # 키값이 없으면 설정한 값을 리턴

경기도
None
None
부산광역시

In [18]:
# 딕셔너리에 람다 적용
addr_df = pd.DataFrame(['경기', '대전광역시', '경남', '경북', '충북', '충남',
                        '전북', '전남', '경상북도'], columns=['시도'])
addr_df

      시도
0     경기
1  대전광역시
2     경남
3     경북
4     충북
5     충남
6     전북
7     전남
8   경상북도

In [19]:
addr_df['시도'] = addr_df['시도'].apply(lambda v: addr_aliases.get(v, v))
addr_df

      시도
0    경기도
1  대전광역시
2   경상남도
3   경상북도
4   충청북도
5   충청남도
6   전라북도
7   전라남도
8   경상북도

In [25]:
# 람다를 대신할 일반 함수 구현
def get_dict_value(key):
    if not addr_aliases.get(key):
        print('key:{}에 해당하는 값이 없어서 {}를 반환함'. format(key, key))
        return key
    else:
        value = addr_aliases.get(key)
        return value

In [26]:
get_dict_value('대구')

key:대구에 해당하는 값이 없어서 대구를 반환함

'대구'

In [27]:
# 일번 함수를 apply()에 적용
addr_df1 = pd.DataFrame(['경기', '대전광역시', '경남', '경북', '충북', '충남',
                         '전북', '전남', '경상북도'], columns=['시도'])

addr_df1['시도'] = addr_df1['시도'].apply(get_dict_value)
addr_df1

key:대전광역시에 해당하는 값이 없어서 대전광역시를 반환함
key:경상북도에 해당하는 값이 없어서 경상북도를 반환함

      시도
0    경기도
1  대전광역시
2   경상남도
3   경상북도
4   충청북도
5   충청남도
6   전라북도
7   전라남도
8   경상북도

In [28]:
# map 함수
def square(n):
    return n*n

In [29]:
mylist = [1, 2, 3, 4, 5]
result = list(map(square, mylist))
print(result)

[1, 4, 9, 16, 25]

In [30]:
int_list = list(map(int, input('정수를 입력하세요: ').split()))
print(int_list)

[1, 2, 23]

In [31]:
# 간단한 딕셔너이에 lambda 적용
d = {'a':1, 'b':2}

values = map(lambda key: d[key], d.keys())
print(list(values))

[1, 2]

In [32]:
list_369 = list(map(lambda x: '짝' if x % 3 == 0 else x, range(1, 10)))
print(list_369)

[1, 2, '짝', 4, 5, '짝', 7, 8, '짝']