#### [머신러닝] 언어 판별 모델 

#### 언어학
- 알파벳을 사용하는 언어들은 사용하는 알파벳의 빈도가 다름
- 언어별 알파벳 빈도에 따라서 언어 식별 가능

#### 데이터셋 

- 언어 : 영어(en), 프랑스어(fr), 인도네시아어(id), 타칼로그어(tr)
- lang.zip 

- train => 나라명-숫자.txt ( en-1.txt ! en-5.txt )

- test  => 나라명-숫자.txt ( en-1.txt ! en-5.txt )

- 어떻게 데이터들을 받을 것인가? 어떻게 이걸 처리를 할 것인가?
- 인터넷 검색을 했을 때, 2가지 경우로 나뉘었음
    - 첫번째 방법은 소문자 알바벳의 빈도수로 언어분류 --> 기호가 들어간 문자는 판별 할 수 없는 문제가 있음
    - 두번째 방법은 띄어쓰기 단위로 언어를 학습하고 분류하는 방법 --> 전처리에서 특수기호와 숫자를 어떻게 처리 할 것인지의 문제가 있음.
- 전처리만 할 수 있다면 두번째 방법을 이용하고 싶음.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_data_path = '../data/Language/train/*.txt'
test_data_path = '../data/Language/test/*.txt'

In [3]:
with open('../data/Language/train/en-1.txt', 'r', encoding='utf-8') as f:
    text = f.read()

In [4]:
text

'\n\n\n\nThe main Henry Ford Museum building houses some of the classrooms for the Henry Ford Academy\n\n\nHenry Ford Academy is the first charter school in the United States to be developed jointly by a global corporation, public education, and a major nonprofit cultural institution. The school is sponsored by the Ford Motor Company, Wayne County Regional Educational Service Agency and The Henry Ford Museum and admits high school students. It is located in Dearborn, Michigan on the campus of the Henry Ford museum. Enrollment is taken from a lottery in the area and totaled 467 in 2010.[1]\nFreshman meet inside the main museum building in glass walled classrooms, while older students use a converted carousel building and Pullman cars on a siding of the Greenfield Village railroad. Classes are expected to include use of the museum artifacts, a tradition of the original Village Schools. When the Museum was established in 1929, it included a school which served grades kindergarten to college/trade school ages. The last part of the original school closed in 1969.\nThe Henry Ford Learning Institute is using the Henry Ford Academy model for further charter schools including the Power House High in Chicago and Alameda School for Art + Design in San Antonio.\nThe building received the international annual design award of the Council of Educational Facilities Planners International for 2001, the James D. MacConnell Award for outstanding new educational facilities. Notable attendees include Chris Stroud and Isaac Sudut.\nSee also[edit]\n\nList of public school academy districts in Michigan\n\nReferences[edit]\n\n\n^ Technology Plan, Henry Ford Academy, 2010]\n\n\nExternal links[edit]\n\nHenry Ford Academy website\nCEFPI\n\n\n\n\n\n\n\nv\nt\ne\n\n\nHigh schools in Wayne County, Michigan\n\n\n\n\n\n\n\nPublic high schools\n\n\n\n\n\n\nDetroit Public Schools\n\n\n\n\n\nNeighborhood schools\n\n\n\n\nCentral\nCody\nDenby\nEast English Village\nFord\nKing\nMumford\nNorthwestern\nOsborn\nPershing\nSoutheastern\nWestern International\n\n\n\n\n\n\n\n\n\nAlternative schools\n\n\n\n\nAcademy of the Americas\nBarsamian Preparatory Center\nCass Technical\nCommunication & Media Arts\nCrosman\nDavis Aerospace\nDetroit International Academy for Young Women\nDetroit Technology High School\nDetroit School of Arts\nDouglass Academy\nMillennium School\nRenaissance\nTrombly Alternative\nWest Side Academy Alternative Education\nWhite Center\n\n\n\n\n\n\n\n\n\nClosed or merged\n\n\n\n\nChadsey\nCooley\nCrockett\nDetroit City\nFinney\nKettering\nMackenzie\nMurray-Wright\nNortheastern\nNorthern\nRedford\nSouthwestern\nCatherine Ferguson Academy (alternative)\n\n\n\n\n\n\n\n\n\n\n\nOther public schools\n\n\n\n\n\nNeighborhood schools\n\n\n\n\nAllen Park\nAnnapolis (Dearborn Heights)\nCarlson (Gibraltar)\nWinston Churchill (Livonia)\nClarenceville\nCrestwood (Dearborn Heights)\nDearborn\nEcorse Community\nEdsel Ford (Dearborn)\nFlat Rock\nFordson (Dearborn)\nBenjamin Franklin (Livonia)\nGarden City\nJohn Glenn (Westland)\nGrosse Ile\nGrosse Pointe North\nGrosse Pointe South\nHamtramck\nHarper Woods\nJohn F. Kennedy (Taylor)\nLincoln Park\nMelvindale\nNorthville\nPlymouth-Canton Educational Park (Canton)\n\nPlymouth (Canton)\n\n\nRedford Union\nRobichaud (Dearborn Heights)\nRiver Rouge\nRomulus\nTheodore Roosevelt (Wyandotte)\nSouthgate Anderson\nAdlai E. Stevenson (Livonia)\nThurston (Redford)\nTrenton\nHarry S. Truman (Taylor)\nWayne Memorial\nWoodhaven (Brownstown Township)\n\n\n\n\n\n\n\n\n\nAlternative schools\n\n\n\n\nBurger School for Students with Autism (Inkster)\nDearborn Center for Math, Science and Technology\nDearborn Magnet\nHenry Ford Collegiate Academy (Dearborn)\n\n\n\n\n\n\n\n\n\nClosed\n\n\n\n\nHighland Park Community\nInkster\n\n\n\n\n\n\n\n\n\n\n\nCharter schools\n\n\n\nChandler Park Academy (Harper Woods)\nCesar Chavez Academy (Detroit)\nClara B. Ford Academy (Dearborn Heights)\nConsortium College Prep (Detroit)\nCornerstone Schools High School (Detroit)\nHenry Ford Academy (Dearborn)\nPlymouth Educational Center (Detroit)\nJalen Rose Leadership Academy (Detroit)\nUniversal Academy (Detroit)\nUniversal Learning Academy (Westland)\nUniversity Prep Schools (Detroit)\n\n\n\n\n\nClosed\n\n\n\n\nCatherine Ferguson Academy (Detroit)\n\n\n\n\n\n\n\n\n\n\n\n\nIndependent\n\n\n\n\n\n\nSecular private\n\n\n\nUniversity Liggett School\n\n\n\n\n\n\n\n\nReligious\n\n\n\nCabrini\nDetroit Cristo Rey\nHuron Valley Lutheran\nInter-City Baptist School\nLadywood\nLutheran High Westland\nLoyola\nUniversity of Detroit Jesuit\n\n\n\n\n\nClosed or merged\n\n\n\n\nHoly Redeemer\nNotre Dame\nOur Lady of Mount Carmel\nSt. Florian\nTrinity Catholic\n\n\n\n\n\n\n\n\n\nMoved\n\n\n\n\nDetroit Catholic Central (to Novi in 2005)\nRegina (to Warren in 2007)\n\n\n\n\n\n\n\n\n\n\n\n\nThis list is incomplete.\n\n\n\n\n\n\n\n\n\n\nv\nt\ne\n\n\nMetro Detroit\n\n\n\n\n\n\nTopics\n\n\n\nArchitecture\nCulture\nDetroit River\nEconomy\nFreeways\nHistory\nHistoric places\nInternational Riverfront\nLake St. Clair\nMedia\nMusic\nParks and beaches\nPeople\nPerforming arts\nSkyscrapers\nSports\nTourism\nTransportation\n\n\n\n\n\n\n\n\n\n\n\nDetroit\n\n\n\nDowntown Detroit\nMidtown Detroit\nNew Center\n\n\n\n\n\n\n\n\nMunicipalities\nover 80,000\n\n\n\nCanton Township\nClinton Township\nDearborn\nLivonia\nSterling Heights\nTroy\nWarren\nWestland\n\n\n\n\n\n\n\n\nMunicipalities\n40,000 to 80,000\n\n\n\nBloomfield Township\nChesterfield Township\nDearborn Heights\nFarmington Hills\nGrosse Pointe\nMacomb Township\nNovi\nPontiac\nRedford Township\nRochester Hills\nRoyal Oak\nSt. Clair Shores\nShelby Charter Township\nSouthfield\nTaylor\nWaterford Township\nWest Bloomfield Township\n\n\n\n\n\n\n\n\nCultural enclaves\n\n\n\nAnn Arbor\nAuburn Hills\nBirmingham\nBloomfield Hills\nDearborn\nDowntown Detroit\nGrosse Pointe\nMidtown Detroit\nNew Center\nNorthville\nRochester\nRoyal Oak\nSouthfield\nTroy\nPlymouth\n\n\n\n\n\n\n\n\nSatellite cities\n\n\n\nAnn Arbor\nBrighton\nFlint\nHowell\nLapeer\nMonroe\nPort Huron\nToledo\nWindsor\nYpsilanti\n\n\n\n\n\n\n\n\nCounties in MSA\n\n\n\nLapeer\nLivingston\nMacomb\nOakland\nSt. Clair\nWayne\n\n\n\n\n\n\n\n\nCounties in CSA\n\n\n\nGenesee\nMonroe\nWashtenaw\n\n\n\n\n\n\n\n\n\n\n\nSoutheast\n\xa0Michigan\n\xa0United States\n\n\n\n\n\n\nCoordinates: 42°18′11.9″N 83°13′52″W\ufeff / \ufeff42.303306°N 83.23111°W\ufeff / 42.303306; -83.23111\n\n\n\nThis Michigan school-related article is a stub. You can help Wikipedia by expanding it.\n\n\nv\nt\ne\n\n\n\n\n\n\n'

In [5]:
pd.Series(text.split()).value_counts()

the            20
Academy        18
Ford           15
Detroit        15
in             15
               ..
website         1
links[edit]     1
External        1
2010]           1
it.             1
Name: count, Length: 451, dtype: int64

In [6]:
text_list = []
with open('../data/Language/train/en-1.txt', 'r', encoding='utf-8') as f:
    for row in f:
        text_list.append(f.readline().split('\n')[0])

In [7]:
train_en_1_df = pd.DataFrame(text_list, columns=['train_en_1'])
train_en_1_df

                                            train_en_1
0
1
2
3    Henry Ford Academy is the first charter school...
4    The Henry Ford Learning Institute is using the...
..                                                 ...
287                                                  t
288
289
290
291

[292 rows x 1 columns]

In [8]:
mask = (train_en_1_df['train_en_1'] == 't') | (train_en_1_df['train_en_1'] == '')

In [9]:
train_en_1_df = train_en_1_df[~mask]
train_en_1_df = train_en_1_df.reset_index(drop=True)
train_en_1_df

                                            train_en_1
0    Henry Ford Academy is the first charter school...
1    The Henry Ford Learning Institute is using the...
2                                       See also[edit]
3    List of public school academy districts in Mic...
4                                     References[edit]
..                                                 ...
111                                              Wayne
112                                             Monroe
113                                           Michigan
114  Coordinates: 42°18′11.9″N 83°13′52″W﻿ / ﻿42.30...
115  This Michigan school-related article is a stub...

[116 rows x 1 columns]

In [10]:
en_1_string = train_en_1_df['train_en_1'].to_string()

In [11]:
replace_list = ['(', ')', '[', ']', '\\', '/', '...', '\ufeff', '-', ',', '.', ';', '|', '?', '!', '°', '′', '″', ':', "'", '"', '﻿',
                '^', '@', '#', '`', '$', '%', '&', '*', '<', '>']

for entty in replace_list:
    en_1_string = en_1_string.replace(entty, ' ')

In [12]:
en_1_string_list = en_1_string.split()

In [13]:
en_1_string_df = pd.DataFrame(en_1_string_list, columns=['en_1_string'])
en_1_string_df

    en_1_string
0             0
1         Henry
2          Ford
3       Academy
4            is
..          ...
395     related
396     article
397          is
398           a
399        stub

[400 rows x 1 columns]

In [14]:
en_1_string_df['en_1_string'].unique()

array(['0', 'Henry', 'Ford', 'Academy', 'is', 'the', 'first', 'charter',
       'school', '1', 'The', 'Learning', 'Institute', 'using', '2', 'See',
       'also', 'edit', '3', 'List', 'of', 'public', 'academy',
       'districts', 'in', 'Mic', '4', 'References', '5', 'External',
       'links', '6', 'website', '7', 'High', 'schools', 'Wayne', 'County',
       'Michigan', '8', 'Public', 'high', '9', 'Central', '10', 'Denby',
       '11', '12', 'Mumford', '13', 'Osborn', '14', 'Southeastern', '15',
       'Americas', '16', 'Cass', 'Technical', '17', 'Crosman', '18',
       'Detroit', 'International', 'for', 'Young', 'Women', '19',
       'School', 'Arts', '20', 'Millennium', '21', 'Trombly',
       'Alternative', '22', 'White', 'Center', '23', 'Closed', 'or',
       'merged', '24', 'Cooley', '25', 'City', '26', 'Kettering', '27',
       'Murray', 'Wright', '28', 'Northern', '29', 'Southwestern', '30',
       'Allen', 'Park', '31', 'Carlson', 'Gibraltar', '32',
       'Clarenceville', '33', 'Dearborn', '34', 'Edsel', '35', 'Fordson',
       '36', 'Garden', '37', 'Grosse', 'Ile', '38', 'Pointe', 'South',
       '39', 'Harper', 'Woods', '40', 'Lincoln', '41', 'Northville', '42',
       'Redford', 'Union', '43', 'River', 'Rouge', '44', 'Theodore',
       'Roosevelt', 'Wyandotte', '45', 'Adlai', 'E', 'Stevenson',
       'Livonia', '46', 'Trenton', '47', 'Memorial', '48', 'Burger',
       'Students', 'with', 'Autism', 'Inkster', '49', 'Magnet', '50',
       'Highland', 'Community', '51', 'Cesar', 'Chavez', '52',
       'Consortium', 'College', 'Prep', '53', '54', 'Jalen', 'Rose',
       'Leadership', '55', 'Universal', 'Westland', '56', 'Catherine',
       'Ferguson', '57', 'Secular', 'private', '58', 'University',
       'Liggett', '59', 'Cristo', 'Rey', '60', 'Inter', 'Baptist', '61',
       'Lutheran', '62', 'Jesuit', '63', '64', 'Notre', 'Dame', '65',
       'St', 'Florian', '66', 'Catholic', 'to', 'Novi', '2005', '67',
       'This', 'list', 'incomplete', '68', 'Metro', '69', 'Culture', '70',
       'Economy', '71', 'History', '72', 'Riverfront', '73', 'Media',
       '74', 'Parks', 'and', 'beaches', '75', 'Performing', 'arts', '76',
       'Sports', '77', 'Transportation', '78', '79', 'Downtown', '80',
       'New', '81', 'over', '000', '82', 'Canton', 'Township', '83', '84',
       'Sterling', 'Heights', '85', 'Warren', '86', 'Municipalities',
       '87', 'Chesterfield', '88', 'Farmington', 'Hills', '89', 'Macomb',
       '90', 'Pontiac', '91', 'Rochester', '92', 'Clair', 'Shores', '93',
       'Southfield', '94', 'Waterford', '95', 'Cultural', 'enclaves',
       '96', 'Ann', 'Arbor', '97', 'Birmingham', '98', '99', '100', '101',
       '102', '103', 'Plymouth', '104', 'Brighton', '105', 'Howell',
       '106', 'Monroe', '107', 'Toledo', '108', 'Ypsilanti', '109',
       'Livingston', '110', 'Oakland', '111', '112', '113', '114',
       'Coordinates', 'N', 'W', '115', 'related', 'article', 'a', 'stub'],
      dtype=object)

In [15]:
number_mask = en_1_string_df['en_1_string'].str.isnumeric()

In [16]:
en_1_string_df = en_1_string_df[~number_mask]

In [17]:
en_1_string_df.duplicated().sum()

86

In [18]:
en_1_string_df = en_1_string_df.drop_duplicates().reset_index(drop=True)

In [19]:
en_1_string_df['en_1_string'].unique()

array(['Henry', 'Ford', 'Academy', 'is', 'the', 'first', 'charter',
       'school', 'The', 'Learning', 'Institute', 'using', 'See', 'also',
       'edit', 'List', 'of', 'public', 'academy', 'districts', 'in',
       'Mic', 'References', 'External', 'links', 'website', 'High',
       'schools', 'Wayne', 'County', 'Michigan', 'Public', 'high',
       'Central', 'Denby', 'Mumford', 'Osborn', 'Southeastern',
       'Americas', 'Cass', 'Technical', 'Crosman', 'Detroit',
       'International', 'for', 'Young', 'Women', 'School', 'Arts',
       'Millennium', 'Trombly', 'Alternative', 'White', 'Center',
       'Closed', 'or', 'merged', 'Cooley', 'City', 'Kettering', 'Murray',
       'Wright', 'Northern', 'Southwestern', 'Allen', 'Park', 'Carlson',
       'Gibraltar', 'Clarenceville', 'Dearborn', 'Edsel', 'Fordson',
       'Garden', 'Grosse', 'Ile', 'Pointe', 'South', 'Harper', 'Woods',
       'Lincoln', 'Northville', 'Redford', 'Union', 'River', 'Rouge',
       'Theodore', 'Roosevelt', 'Wyandotte', 'Adlai', 'E', 'Stevenson',
       'Livonia', 'Trenton', 'Memorial', 'Burger', 'Students', 'with',
       'Autism', 'Inkster', 'Magnet', 'Highland', 'Community', 'Cesar',
       'Chavez', 'Consortium', 'College', 'Prep', 'Jalen', 'Rose',
       'Leadership', 'Universal', 'Westland', 'Catherine', 'Ferguson',
       'Secular', 'private', 'University', 'Liggett', 'Cristo', 'Rey',
       'Inter', 'Baptist', 'Lutheran', 'Jesuit', 'Notre', 'Dame', 'St',
       'Florian', 'Catholic', 'to', 'Novi', 'This', 'list', 'incomplete',
       'Metro', 'Culture', 'Economy', 'History', 'Riverfront', 'Media',
       'Parks', 'and', 'beaches', 'Performing', 'arts', 'Sports',
       'Transportation', 'Downtown', 'New', 'over', 'Canton', 'Township',
       'Sterling', 'Heights', 'Warren', 'Municipalities', 'Chesterfield',
       'Farmington', 'Hills', 'Macomb', 'Pontiac', 'Rochester', 'Clair',
       'Shores', 'Southfield', 'Waterford', 'Cultural', 'enclaves', 'Ann',
       'Arbor', 'Birmingham', 'Plymouth', 'Brighton', 'Howell', 'Monroe',
       'Toledo', 'Ypsilanti', 'Livingston', 'Oakland', 'Coordinates', 'N',
       'W', 'related', 'article', 'a', 'stub'], dtype=object)

In [82]:
# 파일 전처리 하는 함수
def preprocessing_file(path, colname):
    
    # 파일 불러오기
    text_list = []
    with open(path, 'r', encoding='utf-8') as f:
        for row in f:
            text_list.append(f.readline().split('\n')[0])
    
    # 단어 단위 처리
    text_df = pd.DataFrame(text_list, columns=[colname])
    
    # 줄바꿈 흔적 지우기
    mask = (text_df[colname] == 't') | (text_df[colname] == '')
    text_df = text_df[~mask]
    text_df = text_df.reset_index(drop=True)
    
    # 특수기호들 빼려고 문자열로 바꿈
    string = text_df[colname].to_string()
    string = string.lower()
    replace_list = ['(', ')', '[', ']', '\\', '/', '...', '\ufeff', '-', ',', '.', ';', '|', '?', '!', '°', '′', '″', ':', "'", '"', '﻿',
                '^', '@', '#', '`', '$', '%', '&', '*', '<', '>', '+', '–', '·', '██', 'ˈ', '×', '=', 'ɡ', 'ʔ', '’', '«', '↑', '»',
                '‎', 'スター・ウォーズ', 'ローグ', 'スコードロン', '中国']
    for entty in replace_list:
        string = string.replace(entty, ' ')
    # string = ' '.join(char for char in string if not char.isnumeric())
    string_list = string.split()
    
    # 숫자 처리
    string_df = pd.DataFrame(string_list, columns=[colname])
    number_mask = string_df[colname].str.isnumeric()
    string_df = string_df[~number_mask].reset_index(drop=True)
    
    # 문자 한개인 경우 삭제
    for i in range(len(string_df)):
        if len(string_df.loc[i, colname]) == 1:
            string_df = string_df.drop(i, axis=0)
    
    # 중복 삭제
    string_df = string_df.drop_duplicates().reset_index(drop=True)
    
    return string_df

In [83]:
train_en_1_df = preprocessing_file(path='../data/Language/train/en-1.txt', colname='train_en_1')
train_en_2_df = preprocessing_file(path='../data/Language/train/en-2.txt', colname='train_en_2')
train_en_3_df = preprocessing_file(path='../data/Language/train/en-3.txt', colname='train_en_3')
train_en_4_df = preprocessing_file(path='../data/Language/train/en-4.txt', colname='train_en_4')
train_en_5_df = preprocessing_file(path='../data/Language/train/en-5.txt', colname='train_en_5')

train_en_1_df2 = preprocessing_file(path='../data/Language/train/en-1.txt', colname='train_en')
train_en_2_df2 = preprocessing_file(path='../data/Language/train/en-2.txt', colname='train_en')
train_en_3_df2 = preprocessing_file(path='../data/Language/train/en-3.txt', colname='train_en')
train_en_4_df2 = preprocessing_file(path='../data/Language/train/en-4.txt', colname='train_en')
train_en_5_df2 = preprocessing_file(path='../data/Language/train/en-5.txt', colname='train_en')

train_en_df = pd.concat([train_en_1_df, train_en_2_df, train_en_3_df, train_en_4_df, train_en_5_df], axis=1)
train_en_df2 = pd.concat([train_en_1_df2, train_en_2_df2, train_en_3_df2, train_en_4_df2, train_en_5_df2], axis=0)

In [84]:
train_fr_1_df = preprocessing_file(path='../data/Language/train/fr-6.txt', colname='train_fr_1')
train_fr_2_df = preprocessing_file(path='../data/Language/train/fr-7.txt', colname='train_fr_2')
train_fr_3_df = preprocessing_file(path='../data/Language/train/fr-8.txt', colname='train_fr_3')
train_fr_4_df = preprocessing_file(path='../data/Language/train/fr-9.txt', colname='train_fr_4')
train_fr_5_df = preprocessing_file(path='../data/Language/train/fr-10.txt', colname='train_fr_5')

train_fr_1_df2 = preprocessing_file(path='../data/Language/train/fr-6.txt', colname='train_fr')
train_fr_2_df2 = preprocessing_file(path='../data/Language/train/fr-7.txt', colname='train_fr')
train_fr_3_df2 = preprocessing_file(path='../data/Language/train/fr-8.txt', colname='train_fr')
train_fr_4_df2 = preprocessing_file(path='../data/Language/train/fr-9.txt', colname='train_fr')
train_fr_5_df2 = preprocessing_file(path='../data/Language/train/fr-10.txt', colname='train_fr')

train_fr_df = pd.concat([train_fr_1_df, train_fr_2_df, train_fr_3_df, train_fr_4_df, train_fr_5_df], axis=1)
train_fr_df2 = pd.concat([train_fr_1_df2, train_fr_2_df2, train_fr_3_df2, train_fr_4_df2, train_fr_5_df2], axis=0)

In [85]:
train_id_1_df = preprocessing_file(path='../data/Language/train/id-11.txt', colname='train_id_1')
train_id_2_df = preprocessing_file(path='../data/Language/train/id-12.txt', colname='train_id_2')
train_id_3_df = preprocessing_file(path='../data/Language/train/id-13.txt', colname='train_id_3')
train_id_4_df = preprocessing_file(path='../data/Language/train/id-14.txt', colname='train_id_4')
train_id_5_df = preprocessing_file(path='../data/Language/train/id-15.txt', colname='train_id_5')

train_id_1_df2 = preprocessing_file(path='../data/Language/train/id-11.txt', colname='train_id')
train_id_2_df2 = preprocessing_file(path='../data/Language/train/id-12.txt', colname='train_id')
train_id_3_df2 = preprocessing_file(path='../data/Language/train/id-13.txt', colname='train_id')
train_id_4_df2 = preprocessing_file(path='../data/Language/train/id-14.txt', colname='train_id')
train_id_5_df2 = preprocessing_file(path='../data/Language/train/id-15.txt', colname='train_id')

train_id_df = pd.concat([train_id_1_df, train_id_2_df, train_id_3_df, train_id_4_df, train_id_5_df], axis=1)
train_id_df2 = pd.concat([train_id_1_df2, train_id_2_df2, train_id_3_df2, train_id_4_df2, train_id_5_df2], axis=0)

In [86]:
train_tl_1_df = preprocessing_file(path='../data/Language/train/tl-16.txt', colname='train_tl_1')
train_tl_2_df = preprocessing_file(path='../data/Language/train/tl-17.txt', colname='train_tl_2')
train_tl_3_df = preprocessing_file(path='../data/Language/train/tl-18.txt', colname='train_tl_3')
train_tl_4_df = preprocessing_file(path='../data/Language/train/tl-19.txt', colname='train_tl_4')
train_tl_5_df = preprocessing_file(path='../data/Language/train/tl-20.txt', colname='train_tl_5')

train_tl_1_df2 = preprocessing_file(path='../data/Language/train/tl-16.txt', colname='train_tl')
train_tl_2_df2 = preprocessing_file(path='../data/Language/train/tl-17.txt', colname='train_tl')
train_tl_3_df2 = preprocessing_file(path='../data/Language/train/tl-18.txt', colname='train_tl')
train_tl_4_df2 = preprocessing_file(path='../data/Language/train/tl-19.txt', colname='train_tl')
train_tl_5_df2 = preprocessing_file(path='../data/Language/train/tl-20.txt', colname='train_tl')

train_tl_df = pd.concat([train_tl_1_df, train_tl_2_df, train_tl_3_df, train_tl_4_df, train_tl_5_df], axis=1)
train_tl_df2 = pd.concat([train_tl_1_df2, train_tl_2_df2, train_tl_3_df2, train_tl_4_df2, train_tl_5_df2], axis=0)

In [87]:
test_en_1_df = preprocessing_file(path='../data/Language/test/en-1.txt', colname='test_en_1')
test_en_2_df = preprocessing_file(path='../data/Language/test/en-2.txt', colname='test_en_2')

test_en_1_df2 = preprocessing_file(path='../data/Language/test/en-1.txt', colname='test_en')
test_en_2_df2 = preprocessing_file(path='../data/Language/test/en-2.txt', colname='test_en')

test_en_df = pd.concat([test_en_1_df, test_en_2_df], axis=1)
test_en_df2 = pd.concat([test_en_1_df2, test_en_2_df2], axis=0)

In [88]:
test_fr_1_df = preprocessing_file(path='../data/Language/test/fr-3.txt', colname='test_fr_1')
test_fr_2_df = preprocessing_file(path='../data/Language/test/fr-4.txt', colname='test_fr_2')

test_fr_1_df2 = preprocessing_file(path='../data/Language/test/fr-3.txt', colname='test_fr')
test_fr_2_df2 = preprocessing_file(path='../data/Language/test/fr-4.txt', colname='test_fr')

test_fr_df = pd.concat([test_fr_1_df, test_fr_2_df], axis=1)
test_fr_df2 = pd.concat([test_fr_1_df2, test_fr_2_df2], axis=0)

In [89]:
test_id_1_df = preprocessing_file(path='../data/Language/test/id-5.txt', colname='test_id_1')
test_id_2_df = preprocessing_file(path='../data/Language/test/id-6.txt', colname='test_id_2')

test_id_1_df2 = preprocessing_file(path='../data/Language/test/id-5.txt', colname='test_id')
test_id_2_df2 = preprocessing_file(path='../data/Language/test/id-6.txt', colname='test_id')

test_id_df = pd.concat([test_id_1_df, test_id_2_df], axis=1)
test_id_df2 = pd.concat([test_id_1_df2, test_id_2_df2], axis=0)

In [90]:
test_tl_1_df = preprocessing_file(path='../data/Language/test/tl-7.txt', colname='test_tl_1')
test_tl_2_df = preprocessing_file(path='../data/Language/test/tl-8.txt', colname='test_tl_2')

test_tl_1_df2 = preprocessing_file(path='../data/Language/test/tl-7.txt', colname='test_tl')
test_tl_2_df2 = preprocessing_file(path='../data/Language/test/tl-8.txt', colname='test_tl')

test_tl_df = pd.concat([test_tl_1_df, test_tl_2_df], axis=1)
test_tl_df2 = pd.concat([test_tl_1_df2, test_tl_2_df2], axis=0)

In [91]:
# DF save
train_en_df.to_csv('../data/Language/train_en_df.csv', encoding='utf-8', index=False)
train_fr_df.to_csv('../data/Language/train_fr_df.csv', encoding='utf-8', index=False)
train_id_df.to_csv('../data/Language/train_id_df.csv', encoding='utf-8', index=False)
train_tl_df.to_csv('../data/Language/train_tl_df.csv', encoding='utf-8', index=False)

test_en_df.to_csv('../data/Language/test_en_df.csv', encoding='utf-8', index=False)
test_fr_df.to_csv('../data/Language/test_fr_df.csv', encoding='utf-8', index=False)
test_id_df.to_csv('../data/Language/test_id_df.csv', encoding='utf-8', index=False)
test_tl_df.to_csv('../data/Language/test_tl_df.csv', encoding='utf-8', index=False)

In [92]:
# DF save
train_en_df2.to_csv('../data/Language/train_en_df2.csv', encoding='utf-8', index=False, )
train_fr_df2.to_csv('../data/Language/train_fr_df2.csv', encoding='utf-8', index=False)
train_id_df2.to_csv('../data/Language/train_id_df2.csv', encoding='utf-8', index=False)
train_tl_df2.to_csv('../data/Language/train_tl_df2.csv', encoding='utf-8', index=False)

test_en_df2.to_csv('../data/Language/test_en_df2.csv', encoding='utf-8', index=False)
test_fr_df2.to_csv('../data/Language/test_fr_df2.csv', encoding='utf-8', index=False)
test_id_df2.to_csv('../data/Language/test_id_df2.csv', encoding='utf-8', index=False)
test_tl_df2.to_csv('../data/Language/test_tl_df2.csv', encoding='utf-8', index=False)

In [93]:
train_en_1_df2.tail()

        train_en
170      oakland
171  coordinates
172      related
173      article
174         stub